.footer {
  background-color: $color-white;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.02);
  padding: 3rem 0;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include media-queries(atMedium) {
      flex-direction: row;
    }
  }

  &__copyright {
    order: 1;
    margin-top: 2rem;
    @include media-queries(atMedium) {
      margin-top: 0;
      order: unset;
    }
  }

  &__nav {
    & > ul {
      list-style: none;

      li {
        display: inline-block;
        width: 40%;
        margin: 1rem;
        text-align: center;

        @include media-queries(atSmall) {
          margin: 0;
          margin-left: 2.5rem;
          width: initial;

          text-align: left;
        }

        a {
          transition: $generic-transition;
          &:hover {
            color: $color-dark-gray;
          }
        }
        a.active {
          color: $color-dark-gray;
        }
      }
    }
  }
}
