.search {
  &__form {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 2px 2.4rem rgba(0, 0, 0, 0.05);
    padding: 1rem;
    border-radius: 0.4rem;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
    }

    input {
      width: 70%;
      padding: 0.5rem 2rem;
      border: 0;
      border-left: 2px solid $color-light;
    }

    button {
      margin-left: auto;
    }
  }

  &__list {
    margin-top: 5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 3rem;
    background-color: $color-white;
    box-shadow: 0 1px 1rem rgba(138, 92, 92, 0.03);
    border-radius: 0.4rem;
    margin: 2rem 0;

    svg {
      cursor: pointer;
    }
  }

  &__itemCity {
    font-size: 1.6rem;
    font-weight: $font-medium;
  }

  &__itemInfo {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 1.5rem;
    }
  }
}
