* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 56.25%; //9px

  @include media-queries(atMedium) {
    font-size: 62.5%; //10px
  }
}

body {
  line-height: 1.8;
  color: $color-dark;
  font-weight: $font-regular;
  font-size: 1.6rem;
  background-color: $color-bg;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  justify-content: space-between;
}
