.btn {
  background: transparent;
  border: 2px solid transparent;
  outline-color: transparent;
  text-decoration: none;
  padding: 1rem 3.2rem;
  font-size: 1.5rem;
  font-weight: $font-medium;
  border-radius: 4px;
  transition: $generic-transition;
  cursor: pointer;

  @include media-queries(atMedium) {
    padding: 1rem 4rem;
  }

  @include media-queries(atMedium) {
    padding: 1.1rem 5rem;
    font-size: 1.6rem;
  }

  &--main {
    background-color: $color-main;
    color: $color-bg;

    &:hover {
      background-color: lighten($color-main, 4%);
    }

    &--outline {
      color: $color-main;
      border: 2px solid $color-main;

      &:hover {
        background-color: $color-main;
        color: $color-bg;
      }
    }
  }
}
