.heading {
  font-weight: $font-medium;
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: -0.04em;

  &--sub {
    font-size: 2.2rem;
    line-height: 3.8rem;
    letter-spacing: 0;
  }
}

.meta {
  letter-spacing: -0.02em;
  line-height: 1.9rem;

  &--caption {
    font-weight: $font-medium;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

.guiding {
  letter-spacing: -0.02em;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: $font-medium;
}

a {
  text-decoration: none;
}
