$color-main: #6935fd;
$color-dark: #272727;
$color-dark-gray: #616161;
$color-light-gray: #a8a8a8;
$color-light: #f6f6f6;
$color-white: #ffffff;

$font-family: 'Gordita', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
